<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>vue体验一把</title>
	</head>
	<body>

		<div id="demo">
		  <p>{{mossage}}</p>
		  <input v-model="mossage">
		</div>


		<!-- <div id="app">
		  <ul>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ul>
		</div> -->

		<!-- <div id="example">
		  <div>A custom component!</div>
		</div> -->



		<!-- <div>
			<ul id="appList" v-if="todos.length > 0">
			    <li v-for="todo in todos">{{todo.text}}</li>
			    <li v-for="todo in todos">{{todo.text}}</li>
			</ul>
		</div> -->


		<!-- <div id="example">
		  a={{ a }}, b={{ b }}
		</div> -->


		<!-- <div id="app">
		    <div v-bind:class="classList">{{ classList | json}}</div>
		</div> -->



		<!-- <fieldset id="appEvent">
		    <legend>事件绑定</legend>
		    <p>{{message}}</p>
		    <button v-on:click="reverseMessage">reverse message</button>
		</fieldset> -->


	
<!-- 	<ul id="repeat-object">
<li v-repeat="primitiveValues">{{$key}} : {{$value}}</li>
<li>===</li>
<li v-repeat="objectValues">{{$key}} : {{msg}}</li>
</ul> -->



<!-- <div id="range">
<div v-repeat="val">Hi! {{$index}}</div>
</div>` -->

<!-- <div id="demo">
<h1>{{title | uppercase}}</h1>
<ul>
<li
v-repeat="todos"
v-on="click: done = !done"
class="{{done ? 'done' : ''}}">
{{content}}
</li>
</ul>
</div> -->


<!-- <table class="table">
    <tr v-for="book in books">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
    </tr>
</table> -->




		<!-- jQuery -->
		<script type="text/javascript" src="vue.js"></script>
		<script type="text/javascript" src="vues.js"></script>
		
	</body>
</html>